body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
  background: linear-gradient(to right, #c4e0e5, #4ca1af);
}
#board {
  width: 70%;
  height: 70%;
  background-image: url("./images/north.png");
}
#start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url();
  z-index: 1;
}

#start-page h1 {
  font-size: 3rem;
  font-family: "Cursive", cursive;
  color: white;
}

#start-page p {
  font-size: 1.5rem;
  color: white;
}

#start-button {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 20px;
}
